---
layout: layouts/base.tsx

page_type: index
metas:
  type: website
---

<div class="flex flex-col items-center">
  <div class="py-8 px-auto">
    <h1 class="text-xl text-gray-600">Essays</h1>
  </div>

  <div class="flex flex-wrap gap-8 min-w-9/10 max-sm:w-8/10 justify-center mx-auto">
    {% for post in search.pages("page_type=essay", "date=desc") %}
      <a href="{{ post.url }}" class="container xl:w-1/4 lg:w-1/3 xl:w-4/5 border rounded-md py-5 hover:bg-light-300">
        <article class="flex flex-col frex-wrap text-center max-w-1/1 mx-auto px-2">
          <h2 class="text-xl font-semibold">{{ post.title }}</h2>
          <p class="text-base pt-3 opacity-70">{{ post.published_at }}</p>
        </article>
      </a>
    {% endfor %}

  </div>
</div>