{% import "macros/prose.html" as macros %}
{% extends "_base.html" %}

{% block page %}blog{% endblock page%}
{% block lang %}{% if section.extra.lang %}{{ section.extra.lang }}{% else %}{{ section.lang }}{% endif %}{% endblock lang %}
{% block title %}{{ section.title }}{% endblock title %}
{% block desc %}
  {% if section.description %}
    {% set desc = section.description %}
  {% else %}
    {% set desc = config.description %}
  {% endif %}
  <meta name="description" content="{{ desc }}">
{% endblock desc %}

{% block content %}
{% set blog_section = get_section(path="blog/_index.md") %}
{% set essay_section = get_section(path="essay/_index.md") %}
{% set_global posts = [] %}
{% for post in blog_section.pages %}
  {% set_global posts = posts | concat(with=post) %}
{% endfor %}
{% for post in essay_section.pages %}
  {% set_global posts = posts | concat(with=post) %}
{% endfor %}

<div id="wrapper">
  {{ macros::back_link(path = get_url(path="/")) }}
  {% include "_section_title.html" %}
  <main class="layout-list">
    <div class="post-list">
      {% for post in posts | sort(attribute="date") | reverse %}
      <a class="post instant {% if post.extra.featured %}featured{% endif %}" href="{{ post.permalink }}">
        <span>{{ post.title }}</span>
        <span class="date">{{ post.date | date(format=section.extra.date_format) }}</span>
      </a>
      {% endfor %}
    </div>
  </main>
  {% include "_footer.html" %}
</div>
{% endblock content %}
